#	Allgemeine Ignores

*.ipr
*.iml
*.iws
/.idea
/artifacts

#	IntelliJ Ignores

/install-intellij-libs.bat
!ideBridge/ideBridge.iml

#	Target Ignores

/target
/out

# IGNORE-Files can be ignored
IGNORE_*